* {
	margin: 0;
	padding: 0;
}

body {
	background: #000;
	color: rgb(80, 175, 20);
}

.game_field {
	position: relative;
	width: 1024px;
	height: 863px;
	margin: auto;
	background: url(img/board.jpg) no-repeat;
}

.message {
	position: absolute;
	top: 0;
	left: 0;
	color: rgb(80, 175, 20);
}

table {
	position: absolute;
	left: 173px;
	top: 98px;
	border-spacing: 0px;
}

td {
	width: 94px;
	height: 94px;
}

form {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 15px;
	background-color: rgb(80, 175, 20);
}

form input {
	font-size: 1em;
	background-color: rgb(150, 207, 113);
	border-color: rgb(80, 175, 20);
}

.hit {
	background: url(img/ship.png) no-repeat center center;
}

.miss {
	background: url(img/miss.png) no-repeat center center;
}